{% extends "base_navbar.html" %}

{% block title %}Dashboard{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
    <div class="container-fluid d-flex min-vh-100 flex-column justify-content-center align-items-center">
        <form action="{{ url_for('main.new_document') }}" method="post" class="d-flex flex-column align-items-center">
            <input type="text" name="document_name" placeholder="Enter document name" class="form-control mb-2" required>
            <button type="submit" class="btn btn-warning mb-5">New Page Editor</button>
        </form>

        
        <form action="{{ url_for('main.markdown_view') }}" method="post" enctype="multipart/form-data" class="d-flex flex-column align-items-center">
            <input type="file" name="file" accept=".md" class="form-control mb-2" required>
            <button type="submit" class="btn btn-primary">Load Markdown</button>
        </form>
    </div>
{% endblock %}

{% block extra_js %}{% endblock %}